services:
  app:
    image: ghcr.io/denogeek/akaunt:akaunt-latest
    networks:
      - dokploy-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.app.rule=Host(`akaunt.neverest.co.ke`)"
      - "traefik.http.services.app.loadbalancer.server.port=3000"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=${NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY}
      - CLERK_SECRET_KEY=${CLERK_SECRET_KEY}
      - CRON_SECRET=${CRON_SECRET}
      - NODE_ENV=${NODE_ENV}
networks:
  dokploy-network:
    external: true
