name: Build Docker image
on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.DEPLOY_ACTOR }}
          password: ${{ secrets.DEPLOY_TOKEN }}

      - name: Copy the PROD_UI_ENV from secrets to deploy folder
        run: echo "${{ secrets.PROD_UI_ENV }}" > .env

      - name: Build API Docker image
        run: docker build -t ghcr.io/${{ github.repository }}:akaunt-latest ./

      - name: Push API Docker image
        run: docker push ghcr.io/${{ github.repository }}:akaunt-latest
